target/
!.mvn/wrapper/maven-wrapper.jar
/index.idx
*.class

# Log files
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
replay_pid*

# IntelliJ IDEA
.idea/
*.iws
*.iml
*.ipr

# Eclipse
.metadata/
bin/
tmp/
*.tmp
*.bak
*.swp
*~.nib
local.properties
.settings/
.classpath
.project
.factorypath

# VS Code
.vscode/

# MacOS
.DS_Store

# User-specific stuff
.env
.env.local
.env.*.local
